:root {
    --blue: rgb(62, 166, 226);
    --green: rgb(101, 172, 60)
}

.blog-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blog-card {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    height: 250px;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 20px;
    border: 5px solid rgb(245, 217, 93);
    border-radius: 5px;

}

.blog-card:hover {
    box-shadow: 10px 20px 5px #a3a3a3;
}

.card-header {
    font-style: italic;
}

.blog-card-post-date {
    font-size: 20px;
    color: rgb(129, 129, 127);
    margin-top: -20px;
}

.blog-card-content {
    position: absolute;
    top: 50%;
    font-size: 25px;
}

.blog-card-content::first-letter {
    text-transform: capitalize;
}

.blog-card-type1 {
    color: var(--blue);
}

.blog-card-type2 {
    color: var(--green);
}

.blog-card-link {
    position: absolute;
    top: 85%;
    color: var(--blue);
    font-size: 20px;
}

.blog-card-link:hover {
    color: rgb(212, 92, 82);
}